body {
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    color: #C8C8C8;
    font-family: 'Montserrat Alternates', sans-serif;
}

.demo-card-square.mdl-card {
    width: 300px;
    height: 500px;
    margin: auto;
}

.a {
    color: black;
}

.demo-card-square > .mdl-card__title {
    color: #C8C8C8;
    background: bottom right 10% no-repeat #383838;
}
.johny {
    text-align: right;

}
.tony {
  padding-right: 40px;
}

.title {
    padding-bottom:40px; color: black;
}

.search {
    text-align: center;
    width: 100%;
    margin: auto;
}
.pagination {
    padding-left: 10px;
    margin-left: 850px;
}
