body {
   background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
   font-family: 'Montserrat Alternates', sans-serif;
   margin-left: auto;
 }

 .body-builder {
   margin: auto;
   padding-left: 40%;
 }
